/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico para el cuerpo de la página */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url('https://static.vecteezy.com/system/resources/previews/003/461/898/large_2x/shopping-cart-with-yellow-background-free-photo.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Estilos para el contenido principal */
.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenedor para centrar el contenido y establecer un ancho */
.container {
    flex: 1;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Hero section */
.hero {
    flex: 1;
    color: white;
    text-align: center;
    padding: 50px 0;
}


/* Footer */
footer {
    background: linear-gradient(to right, #0056b3, #0099ff); /* Azul a celeste pastel */
    color: #ffffff;
    padding: 20px;
    text-align: center;
    flex-shrink: 0; /* Evita que el footer se reduzca en tamaño */
}

/* Navegación */
nav {
    background: linear-gradient(to right, #0056b3, #0099ff); /* Azul a celeste pastel */
    padding: 10px;
}

/* Estilos para la lista de elementos del navbar */
nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Estilos para los elementos individuales del navbar */
nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilo para los enlaces del navbar */
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Estilos para el navbar de Bootstrap */
.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

/* Cambia el color de las letras del navbar al pasar el ratón por encima */
.navbar-brand:hover,
.nav-link:hover {
    color: #ffffff !important;
}

/* Estilos específicos para el navbar */
.navbar {
    background: linear-gradient(to right, #0000FF, #ADD8E6); /* Degradé de azul a celeste pálido */
    padding: 10px;
}

/* Estilos para los elementos de la lista del navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

/* Estilo para los íconos del navbar */
.nav-icon {
    width: 40px;
    height: auto;
}

/* Efecto de opacidad al pasar el ratón sobre los íconos del navbar */
.navbar a:hover .nav-icon {
    opacity: 0.8;
}

/* Estilos para las tarjetas */
.card {
    height: 100%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: transparent; /* Fondo transparente */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent; /* Fondo transparente */
    padding: 20px;
    border-radius: 5px;
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ffffff;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.card-footer {
    background-color: transparent;
    border-top: none;
    text-align: center;
}

/* Clases para hacer el fondo transparente */
.transparent-card {
    background-color: transparent; /* Fondo completamente transparente */
    border: none;
}

.transparent-card .card-body {
    background-color: transparent; /* Fondo transparente */
    padding: 20px;
    border-radius: 5px;
}

/* Estilo para los botones */
.btn {
    display: inline-flex;
    background: linear-gradient(to bottom, #007bff, #0056b3); /* Azul */
    color: #fff; /* Texto blanco */
    height: 50px;
    padding: 10px 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s ease; /* Transición de color */
    text-align: center; /* Centra el texto dentro del botón */
    box-shadow: none; /* Elimina cualquier sombra que pueda parecer un borde */
}

/* Efecto de cambio de color de fondo en los botones al pasar el ratón */
.btn:hover {
    background: linear-gradient(to bottom, #0056b3, #007bff); /* Azul más oscuro al pasar el ratón */
}

/* Estilos específicos para botones personalizados */
.btn-continue-shopping, .btn-process-payment, .btn-show-boleta {
    border-radius: 1em; /* Bordes redondeados */
    max-width: 100%; /* Ajusta el tamaño al contenedor */
}

/* Estilo para formularios */
form {
    max-width: 600px;
    margin: auto;
    padding: auto;
    border: solid transparent;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

form label {
    font-weight: 700; /* Grosor de letras para labels dentro del formulario */
}

input, textarea {
    border: 1px solid #ccc;
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 0.7em;
    color: #fff;
    background: linear-gradient(to bottom, #007bff, #0056b3); /* Azul */
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background: linear-gradient(to bottom, #0056b3, #007bff); /* Azul más oscuro al pasar el ratón */
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Estilos para la tabla */
.table img {
    max-width: 100px;
    height: auto;
}

.table thead th {
    background: linear-gradient(to bottom, #6c63ff, #5549d8);
    color: white;
    border-bottom: 2px solid #ffffff;
}

.table tbody tr:hover {
    background: linear-gradient(to bottom, #f2f2f2, #ffffff);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Estilos específicos para botones personalizados */
.btn-custom {
    background: linear-gradient(to bottom, #2600ff, #5549d8);
}

.btn-custom:hover {
    background: linear-gradient(to bottom, #5549d8, #2600ff);
}

.btn-danger {
    background: linear-gradient(to bottom, #dc3545, #bd2130);
    border-color: #dc3545;
}

.btn-danger:hover {
    background: linear-gradient(to bottom, #bd2130, #c82333);
    border-color: #bd2130;
}

.total {
    font-size: 1.5rem;
    font-weight: bold;
}

.actions {
    margin-top: 20px;
}

/* Estilo para el encabezado */
header {
    background: linear-gradient(to bottom, #2600ff, #a7c7e7); /* Azul a celeste pastel */
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo para el mapa */
.map-container iframe {
    width: 70%;
    height: 400px;
}

/* Estilos para centrar el contenedor */
.contact-info {
    text-align: left; /* Alinea el texto a la izquierda dentro del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 475px; /* Ajusta el ancho máximo del contenedor */
    padding: 20px; /* Espaciado interno para evitar que el contenido esté pegado al borde */
    background-color: transparent; /* Fondo blanco con opacidad para legibilidad (opcional) */
    border-radius: 10px; /* Bordes redondeados para mejorar la apariencia (opcional) */
}

/* Opcional: Estilo adicional para h5 */
.contact-info h5 {
    margin-bottom: 20px; /* Espacio debajo del encabezado */
    font-size: 1.25rem; /* Ajusta el tamaño de la fuente si es necesario */
}


/* Opcional: Estilo adicional para h5 */
.contact-info h5 {
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

/* Eliminar la línea negra indeseada en la sección de contacto */
.contact-divider {
    border: none;
    border-top: 1px solid transparent; /* Cambia el color si lo necesitas */
    margin: 0 auto; /* Centra el elemento */
    width: 50%;
}
/* Alinear el contenedor a la derecha */
.container.mt-5.contact-info {
    display: flex;
    justify-content: flex-end; /* Alinea el contenedor al lado derecho */
}

/* Estilos para la información de contacto dentro del contenedor específico */
.container.mt-5.contact-info .contact-details {
    text-align: left; /* Alinea el texto a la izquierda dentro del contenedor */
    max-width: 600px; /* Ajusta el ancho máximo del contenedor */
    padding: 20px; /* Espaciado interno para evitar que el contenido esté pegado al borde */
    background-color: transparent; /* Fondo blanco con opacidad para legibilidad (opcional) */
    border-radius: 10px; /* Bordes redondeados para mejorar la apariencia (opcional) */
}

/* Estilo adicional para el encabezado dentro del contenedor específico */
.container.mt-5.contact-info .contact-details h3 {
    margin-bottom: 0px;
}

/* Estilo para el divisor dentro del contenedor específico */
.container.mt-5.contact-info .contact-details .contact-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

/* Estilo para los íconos de redes sociales dentro del contenedor específico */
.container.mt-5.contact-info .contact-details .social-icons a {
    margin-right: 10px;
    color: #000; /* Color negro para los íconos */
}

.container.mt-5.contact-info .contact-details .social-icons a:hover {
    color: #007bff; /* Color azul al pasar el ratón */
}


/* Estilo para los íconos de redes sociales */
.social-icons a {
    margin-right: 10px;
    color: #000;
}

.social-icons a:hover {
    color: #007bff;
}
