<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sistema de Venta - Haguermarket</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary"
            data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand"
                    href="{{ url_for('index') }}">HaguerMarket</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="{{ url_for('index') }}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('listar_productos') }}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('nuevo') }}">Agregar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('carrito') }}">Carrito</a>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="{{ url_for('contacto') }}">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container mt-5">
                <h2 class="text-center">Crear Producto</h2>
                <form action="/crear_producto" method="post">
                    <div class="form-group">
                        <label for="id">ID:</label>
                        <input type="number" class="form-control" id="id"
                            name="id"
                            value="{{ nuevo_id }}" readonly required />
                        <input type="hidden" id="hidden_id" name="id"
                            value="{{ nuevo_id }}" />
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre"
                            name="nombre" required />
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" class="form-control" id="descripcion"
                            name="descripcion" required />
                    </div>
                    <div class="form-group">
                        <label for="categories">Categorías (separadas por
                            comas):</label>
                        <input type="text" class="form-control" id="categories"
                            name="categories" required />
                    </div>
                    <div class="form-group">
                        <label for="unidadMedida">Unidad Medida:</label>
                        <input type="text" class="form-control"
                            id="unidadMedida"
                            name="unidadMedida" required />
                    </div>
                    <div class="form-group">
                        <label for="valorConversion">Valor Conversión:</label>
                        <input type="number" class="form-control"
                            id="valorConversion" name="valorConversion"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input type="number" class="form-control" id="precio"
                            name="precio" required />
                    </div>
                    <div class="form-group">
                        <label for="stockInicial">Stock Inicial:</label>
                        <input type="number" class="form-control"
                            id="stockInicial"
                            name="stockInicial" required />
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock:</label>
                        <input type="number" class="form-control" id="stock"
                            name="stock" required />
                    </div>
                    <div class="form-group">
                        <label for="urlFoto">URL de la Foto:</label>
                        <input type="url" class="form-control" id="urlFoto"
                            name="urlFoto" required />
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Guardar
                        Producto</button>
                </form>
            </div>

            <footer>
                <p>&copy; 2024 Sistema de Venta - HaguerMarket. Todos los
                    derechos
                    reservados.</p>
            </footer>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        </body>
    </html>
